<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Placas de Vídeo</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- CSS3 Icons-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
<!-- NavBar-->
<div class="container">
    <header>
        <nav>
            <div class="nav-container">
                <a href="{{url_for('index')}}" id="logo">
                    <span style="color: #ffc107;">Placa d</span>e Vídeo</a>
                <aside>
                    <div>
                        <button class="dropdown dropbtn"> Início</button>
                    </div>
                    <div class="dropdown-placa">
                        <button class="dropdown dropbtn"> Placas <i class="fa fa-caret-down"></i>
                            <div class="dropdown-content">
                                <a href="{{url_for('todas')}}">Todas</a>
                                <a href="{{url_for('amd')}}">Amd</a>
                                <a href="{{url_for('nvidia')}}">Nvidia</a>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button class="dropdown dropbtn"> Sobre</button>
                    </div>
                    <div>
                        <button class="dropdown dropbtn"> Contato</button>
                    </div>
                </aside>
            </div>
        </nav>
    </header>
</div>
<!-- Content/ Graphic and filter-->
<div class="content">
    <article class="nav-content">
    <!-- filter -->
        <div class="filter">
            <aside>
                <label class="box" for="AMDRX6600XT"> AMD RX6600XT
                    <input checked="checked" type="checkbox" class="checkbox" id="AMDRX6600XT" onClick="valor()" name="RX"
                   value="AMD RX6600XT">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="AMDRX6700XT"> AMD RX6700XT
                    <input type="checkbox" class="checkbox" id="AMDRX6700XT" onClick="valor()" name="RX"
                   value="AMD RX6700XT">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="AMDRX6800XT"> AMD RX6800XT
                    <input type="checkbox" class="checkbox" id="AMDRX6800XT" onClick="valor()" name="RX"
                   value="AMD RX6800XT">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="AMDRX6900XT"> AMD RX6900XT
                    <input type="checkbox" class="checkbox" id="AMDRX6900XT" onClick="valor()" name="RX"
                   value="AMD RX6900XT">
                    <span class="checkmark"></span>
                </label>
                <div>
                    <input class="btnSelecionar" type="submit" value="Selecionar" id="send">
                </div>
            </aside>
        </div>
        <!-- Graphic Google Chart -->
        <section>
            <div id="line_top_x" style="position: absolute; z-index: -1;"></div>
        </section>
    </article>
</div>
</body>

<!-- JS -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var AmdRX6600XT, AmdRX6700XT, AmdRX6800XT, AmdRX6900XT;
    var placasSelecionadas = [];
    var feito = [];

    var matriz = [[],[],[],[],[]];
    {% for row in results %}
        {% if row[2] == 'AMD Radeon RX 6600XT'%}
            var adicionar = matriz[0].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'AMD Radeon RX 6700XT'%}
            var adicionar = matriz[1].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'AMD Radeon RX 6800XT'%}
            var adicionar = matriz[2].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'AMD Radeon RX 6900XT'%}
            var adicionar = matriz[3].push({{ row[0] }});
        {% endif %}
    {% endfor %}

    class Placa{
        constructor(nome, preco) {
            this.nome = nome;
            this.preco = preco;
        }
    }
    let aPlaca6600XT = new Placa("AMD Radeon RX 6600XT", matriz[0]);
    let aPlaca6700XT = new Placa("AMD Radeon RX 6700XT", matriz[1]);
    let aPlaca6800XT = new Placa("AMD Radeon RX 6800XT", matriz[2]);
    let aPlaca6900XT = new Placa("AMD Radeon RX 6900XT", matriz[3]);

    function valor(){
            var nomePlacaVideo = document.getElementsByName('RX');
            placasSelecionadas = [];
            feito = [];
            for(var i = 0; i< nomePlacaVideo.length; i++){
                if ( nomePlacaVideo[i].checked ) {
                    if(nomePlacaVideo[i].value == "AMD RX6600XT"){
                        var adicionar = placasSelecionadas.push("AMD RX6600XT");
                        var AmdRX6600XT = "AMD Radeon RX 6600XT";
                        var adicionarPlaca = feito.push(aPlaca6600XT.preco);
                    }
                    else if(nomePlacaVideo[i].value == "AMD RX6700XT") {
                        var adicionar = placasSelecionadas.push("AMD RX6700XT");
                        var AmdRX6700XT = "AMD Radeon RX 6700XT";
                        var adicionarPlaca = feito.push(aPlaca6700XT.preco);
                    }
                    else if(nomePlacaVideo[i].value == "AMD RX6800XT") {
                        var adicionar = placasSelecionadas.push("AMD RX6800XT");
                        var AmdRX6800XT = "AMD Radeon RX 6800XT";
                        var adicionarPlaca = feito.push(aPlaca6800XT.preco);
                    }
                    else if(nomePlacaVideo[i].value == "AMD RX6900XT") {
                        var adicionar = placasSelecionadas.push("AMD RX6900XT");
                        var AmdRX6900XT = "AMD Radeon RX 6900XT";
                        var adicionarPlaca = feito.push(aPlaca6900XT.preco);
                    }
                }
            }
        }
    var checkBoxes = document.querySelectorAll(".checkbox");
    var selecionados = 0;
    var btn = document.querySelector("#send");
    btn.addEventListener("click", function(e) {
        e.preventDefault();
        selecionados = 0;
        checkBoxes.forEach(function(el){
           if(el.checked){
                selecionados++;
           }
           google.charts.load('current', {'packages':['corechart', 'line']});
           google.charts.setOnLoadCallback(drawChart);
        });
    });
    function drawChart() {
      var i = 0;
          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Dia');
          for(let i = 0; i < placasSelecionadas.length; i++){
            data.addColumn('number', placasSelecionadas[i]);
          }
    {% for row in results %}
       if( i < 60){
          if( selecionados == 4){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i], feito[2][i], feito[3][i] ]]);
          }
          if( selecionados == 3){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i], feito[2][i] ]]);
          }
          else if( selecionados == 2){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i] ]]);
          }
          else if( selecionados == 1){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i] ]]);
          }
            i++;
       };
    {% endfor %}
      var options = {
            title: 'Variação do preço das placas de vídeo.',
            subtitle: 'Em reais (BRL)',
          vAxis: {

              scaleType: 'log',
              title: 'Preço',
              textStyle: {
                color: 'black',
                fontSize: 12,
                bold: true
              },
              titleTextStyle: {
                color: 'black',
                fontSize: 16,
                bold: true
              },
            },
          hAxis: {
              format: 'd/M',
              title: 'Dia',
              textStyle: {
                fontSize: 12,
                color: 'black',
              },
            },
          width: 1060,
          height: 540,
          axes: {
              x: {
                20: {side: 'bottom'},
              },
            },
          backgroundColor: '#f1f8e9'
      };
      var chart = new google.charts.Line(document.getElementById('line_top_x'));
      chart.draw(data, google.charts.Line.convertOptions(options));
    };
</script>
</html>