<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Placas de Vídeo</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- CSS3 Icons-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
<!-- NavBar-->
<div class="container">
    <header>
        <nav>
            <div class="nav-container">
                <a href="{{url_for('index')}}" id="logo">
                    <span style="color: #198754;">Placa d</span>e Vídeo</a>
                <aside>
                    <div>
                        <button class="dropdown dropbtn"> Início</button>
                    </div>
                    <div class="dropdown-placa">
                        <button class="dropdown dropbtn"> Placas <i class="fa fa-caret-down"></i>
                            <div class="dropdown-content">
                                <a href="{{url_for('todas')}}">Todas</a>
                                <a href="{{url_for('amd')}}">Amd</a>
                                <a href="{{url_for('nvidia')}}">Nvidia</a>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button class="dropdown dropbtn"> Sobre</button>
                    </div>
                    <div>
                        <button class="dropdown dropbtn"> Contato</button>
                    </div>
                </aside>
            </div>
        </nav>
    </header>
</div>
<!-- Content/ Graphic and filter-->
<div class="content">
    <article class="nav-content">
    <!-- filter -->
        <div class="filter">
            <aside>
                <div class="texto-filtro">
                    Filtro
                    <hr style="border: 1px solid #198754;">
                </div>
                <label class="box" for="NvidiaRTX2060"> Nvidia RTX2060
                    <input checked="checked" type="checkbox" class="checkbox" id="NvidiaRTX2060" onClick="valor()" name="PL"
                           value="Nvidia RTX2060">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="NvidiaRTX3060"> Nvidia RTX3060
                    <input type="checkbox" class="checkbox" id="NvidiaRTX3060" onClick="valor()" name="PL"
                           value="Nvidia RTX3060">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="NvidiaRTX3070"> Nvidia RTX3070
                    <input type="checkbox" class="checkbox" id="NvidiaRTX3070" onClick="valor()" name="PL"
                           value="Nvidia RTX3070">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="NvidiaRTX3080"> Nvidia RTX3080
                    <input type="checkbox" class="checkbox" id="NvidiaRTX3080" onClick="valor()" name="PL"
                           value="Nvidia RTX3080">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="NvidiaRTX3090"> Nvidia RTX3090
                    <input type="checkbox" class="checkbox" id="NvidiaRTX3090" onClick="valor()" name="PL"
                           value="Nvidia RTX3090">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="AMDRX6600XT"> AMD RX6600XT
                    <input type="checkbox" class="checkbox" id="AMDRX6600XT" onClick="valor()" name="PL"
                   value="AMD RX6600XT">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="AMDRX6700XT"> AMD RX6700XT
                    <input type="checkbox" class="checkbox" id="AMDRX6700XT" onClick="valor()" name="PL"
                   value="AMD RX6700XT">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="AMDRX6800XT"> AMD RX6800XT
                    <input type="checkbox" class="checkbox" id="AMDRX6800XT" onClick="valor()" name="PL"
                   value="AMD RX6800XT">
                    <span class="checkmark"></span>
                </label>
                <label class="box" for="AMDRX6900XT"> AMD RX6900XT
                    <input type="checkbox" class="checkbox" id="AMDRX6900XT" onClick="valor()" name="PL"
                   value="AMD RX6900XT">
                    <span class="checkmark"></span>
                </label>
                <div>
                    <input class="btnSelecionar" type="submit" value="Selecionar" id="send">
                </div>
            </aside>
        </div>
        <!-- Graphic Google Chart -->
        <section>
            <div id="line_top_x" class="graphic"></div>
        </section>
    </article>
</div>
<div class="content">
    <article class="nav-content">
        <!-- filter -->
        <div class="graphic-fps">
            <aside>
                <div id="table_div" style="height: 400px;"></div>
            </aside>
        </div>
        <!-- Graphic Google Chart -->
        <section>
            <div id="chart_div" class="graphic-media"></div>
        </section>
    </article>
</div>
<!-- Footer-->
        <footer>
          &copy; Copyright Placa de Vídeo - 2021. Todos seus direitos reservados.
        </footer>
</body>

<!-- JS -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var placasSelecionadas = [];
    var feito = [];

    var matriz = [[],[],[],[],[],[],[],[],[]];
    {% for row in results %}
        {% if row[2] == 'Nvidia RTX 2060'%}
            var adicionar = matriz[0].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'Nvidia RTX 3060'%}
            var adicionar = matriz[1].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'Nvidia RTX 3070'%}
            var adicionar = matriz[2].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'Nvidia RTX 3080'%}
            var adicionar = matriz[3].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'Nvidia RTX 3090'%}
            var adicionar = matriz[4].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'AMD Radeon RX 6600XT'%}
            var adicionar = matriz[5].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'AMD Radeon RX 6700XT'%}
            var adicionar = matriz[6].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'AMD Radeon RX 6800XT'%}
            var adicionar = matriz[7].push({{ row[0] }});
        {% endif %}
        {% if row[2] == 'AMD Radeon RX 6900XT'%}
            var adicionar = matriz[8].push({{ row[0] }});
        {% endif %}
    {% endfor %}

    class Placa{
        constructor(nome, preco) {
            this.nome = nome;
            this.preco = preco;
        }
    }
    let aPlaca2060 = new Placa("Nvidia RTX2060", matriz[0]);
    let aPlaca3060 = new Placa("Nvidia RTX3060", matriz[1]);
    let aPlaca3070 = new Placa("Nvidia RTX3070", matriz[2]);
    let aPlaca3080 = new Placa("Nvidia RTX3080", matriz[3]);
    let aPlaca3090 = new Placa("Nvidia RTX3090", matriz[4]);
    let aPlaca6600XT = new Placa("AMD Radeon RX 6600XT", matriz[5]);
    let aPlaca6700XT = new Placa("AMD Radeon RX 6700XT", matriz[6]);
    let aPlaca6800XT = new Placa("AMD Radeon RX 6800XT", matriz[7]);
    let aPlaca6900XT = new Placa("AMD Radeon RX 6900XT", matriz[8]);

    function valor(){
            var nomePlacaVideo = document.getElementsByName('PL');
            placasSelecionadas = [];
            feito = [];
            for(var i = 0; i< nomePlacaVideo.length; i++){
                if ( nomePlacaVideo[i].checked ) {
                    if(nomePlacaVideo[i].value == "Nvidia RTX2060"){
                        var adicionar = placasSelecionadas.push("Nvidia RTX2060");
                        var adicionarPlaca = feito.push(aPlaca2060.preco);
                    }
                    else if(nomePlacaVideo[i].value == "Nvidia RTX3060") {
                        var adicionar = placasSelecionadas.push("Nvidia RTX3060");
                        var adicionarPlaca = feito.push(aPlaca3060.preco);
                    }
                    else if(nomePlacaVideo[i].value == "Nvidia RTX3070") {
                        var adicionar = placasSelecionadas.push("Nvidia RTX3070");
                        var adicionarPlaca = feito.push(aPlaca3070.preco);
                    }
                    else if(nomePlacaVideo[i].value == "Nvidia RTX3080") {
                        var adicionar = placasSelecionadas.push("Nvidia RTX3080");
                        var adicionarPlaca = feito.push(aPlaca3080.preco);
                    }
                    else if(nomePlacaVideo[i].value == "Nvidia RTX3090") {
                        var adicionar = placasSelecionadas.push("Nvidia RTX3090");
                        var adicionarPlaca = feito.push(aPlaca3090.preco);
                    }
                    if(nomePlacaVideo[i].value == "AMD RX6600XT"){
                        var adicionar = placasSelecionadas.push("AMD RX6600XT");
                        var adicionarPlaca = feito.push(aPlaca6600XT.preco);
                    }
                    else if(nomePlacaVideo[i].value == "AMD RX6700XT") {
                        var adicionar = placasSelecionadas.push("AMD RX6700XT");
                        var adicionarPlaca = feito.push(aPlaca6700XT.preco);
                    }
                    else if(nomePlacaVideo[i].value == "AMD RX6800XT") {
                        var adicionar = placasSelecionadas.push("AMD RX6800XT");
                        var adicionarPlaca = feito.push(aPlaca6800XT.preco);
                    }
                    else if(nomePlacaVideo[i].value == "AMD RX6900XT") {
                        var adicionar = placasSelecionadas.push("AMD RX6900XT");
                        var adicionarPlaca = feito.push(aPlaca6900XT.preco);
                    }
                }
            }
        }
    var checkBoxes = document.querySelectorAll(".checkbox");
    var selecionados = 0;
    var btn = document.querySelector("#send");
    btn.addEventListener("click", function(e) {
        e.preventDefault();
        selecionados = 0;
        checkBoxes.forEach(function(el){
           if(el.checked){
                selecionados++;
           }
           google.charts.load('current', {'packages':['corechart', 'line']});
           google.charts.setOnLoadCallback(drawChart);
        });
    });
    google.charts.load('current', {'packages':['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var i = 0;
          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Dia');
          if(placasSelecionadas.length == 0){
                data.addColumn('number', 'Nvidia RTX2060');
            }
          for(let i = 0; i < placasSelecionadas.length; i++){
            data.addColumn('number', placasSelecionadas[i]);
          }
    {% for row in results %}
       if( i < 60){
          if( selecionados == 9){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i], feito[2][i], feito[3][i], feito[4][i], feito[5][i], feito[6][i], feito[7][i], feito[8][i] ]]);
          }
          if( selecionados == 8){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i], feito[2][i], feito[3][i], feito[4][i], feito[5][i], feito[6][i], feito[7][i] ]]);
          }
          if( selecionados == 7){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i], feito[2][i], feito[3][i], feito[4][i], feito[5][i], feito[6][i] ]]);
          }
          if( selecionados == 6){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i], feito[2][i], feito[3][i], feito[4][i], feito[5][i] ]]);
          }
          if( selecionados == 5){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i], feito[2][i], feito[3][i], feito[4][i] ]]);
          }
          if( selecionados == 4){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i], feito[2][i], feito[3][i] ]]);
          }
          if( selecionados == 3){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i], feito[2][i] ]]);
          }
          else if( selecionados == 2){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i], feito[1][i] ]]);
          }
          else if( selecionados == 1){
            data.addRows([[ new Date(2021, 8, 1 + i), feito[0][i] ]]);
          }
          else if( selecionados == 0){
            data.addRows([[ new Date(2021, 8, 1 + i), aPlaca2060.preco[i] ]]);
          }
            i++;
       };
    {% endfor %}
      var options = {
            title: 'Variação do preço das placas de vídeo.',
            subtitle: 'Em reais (BRL)',
          vAxis: {

              scaleType: 'log',
              title: 'Preço',
              textStyle: {
                color: 'black',
                fontSize: 12,
                bold: true
              },
              titleTextStyle: {
                color: 'black',
                fontSize: 16,
                bold: true
              },
            },
          hAxis: {
              format: 'd/M',
              title: 'Dia',
              textStyle: {
                fontSize: 12,
                color: 'black',
              },
            },
          axes: {
              x: {
                20: {side: 'bottom'},
              },
            },
          backgroundColor: '#f1f8e9'
      };
      var chart = new google.charts.Line(document.getElementById('line_top_x'));
      chart.draw(data, google.charts.Line.convertOptions(options));
    };

    var listaMedia = [];
    for(let i = 0; i < 9; i++){
        var sum = 0;
        var media = 0;
        for(let j = 0; j < 60; j++){
            sum += matriz[i][j];
        }
        media = (sum / 60);
        var adicionar = listaMedia.push(media);
    }
    console.log(listaMedia);


    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawVisualization);
    function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
          ['.', 'Nvidia RTX2060', 'Nvidia RTX3060', 'Nvidia RTX3070', 'Nvidia RTX3080', 'Nvidia RTX3090', 'AMD Radeon RX 6600XT', 'AMD Radeon RX 6700XT', 'AMD Radeon RX 6800XT', 'AMD Radeon RX 6900XT'],
          ['Ultimos 60 dias', listaMedia[0], listaMedia[1], listaMedia[2], listaMedia[3], listaMedia[4], listaMedia[5], listaMedia[6], listaMedia[7], listaMedia[8]],

        ]);

       var options = {
          title: 'Variação do preço médio das placas de vídeo (Últimos 60 dias)',
          subtitle: 'Em reais (BRL)',
          vAxis: {
              scaleType: 'log',
              title: 'Preço',
              textStyle: {
                color: 'black',
                fontSize: 12,
                bold: true
              },
              titleTextStyle: {
                color: 'black',
                fontSize: 16,
                bold: true,
              },
          },
           backgroundColor: '#f1f8e9',
        };
        var chart = new google.charts.Bar(document.getElementById('chart_div'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
    };

      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Placa');
        data.addColumn('number', 'FPS');
        data.addColumn('number', 'Preço/FPS');
        data.addRows([
          ['Nvidia RTX2060',  95.5, (listaMedia[0] / 95.5)],
          ['Nvidia RTX3060',  113.9,  (listaMedia[1] / 113.9)],
          ['Nvidia RTX3070',  156.9, (listaMedia[2] / 156.9)],
          ['Nvidia RTX3080',  181.4,  (listaMedia[3] / 181.4)],
          ['Nvidia RTX3090',  194,  (listaMedia[4] / 194)],
          ['Amd RX6600XT',  126.5, (listaMedia[0] / 126.5)],
          ['Amd RX6700XT',  151.6,  (listaMedia[1] / 151.6)],
          ['Amd RX6800XT',  191.2, (listaMedia[2] / 191.2)],
          ['Amd RX6900XT',  198.9,  (listaMedia[3] / 198.9)]
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      };


</script>
</html>